# Ignore vitepress dist files
www/helpdesk_whatsapp_*.py
www/404.py
www/helpdesk_whatsapp_*.html
www/404.html
www/hashmap.json
www/vp-icons.css
www/assets
public/app.*.js
public/helpdesk_whatsapp_*.js
public/style.*.css
public/chunks